{{#if user.id}}{{else}}
  {{#if user.isLoading}}{{else}}
    {{#if user.isSaving}}{{else}}
      {{input value=email type=email}}
      {{input value=password type=password}}
      <a href="#" {{action login}}>Log In</a>
    {{/if}}
  {{/if}}
{{/if}}
